fastapi==0.135.1
uvicorn[standard]==0.42.0
sqlmodel==0.0.37
SQLAlchemy==2.0.48
pydantic==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.2.2
python-multipart==0.0.22
passlib[bcrypt]==1.7.4
bcrypt==5.0.0
requests==2.32.5
urllib3==2.6.3
httpx==0.28.1
ldap3==2.9.1
cryptography==46.0.5
typing_extensions==4.15.0
kubernetes==35.0.0
PyYAML==6.0.3
psycopg[binary]==3.3.3
alembic==1.18.4
